<style>
@import url('https://fonts.googleapis.com/css?family=Questrial');
</style>

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	background-image: url("background_books.png");
	background-repeat: repeat-x;
	background-color: #d5bfa0;
}

nav {
	
}

 ul li {
	text-decoration: none;
	display: none;
}


.main-nav {
	display: inline-block;
}


.first-drop-down {
	display: inline-block;
}


.second-drop-down {
	display: inline-block;
	
}


.third-drop-down {
	display: inline-block;
	
}

img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 10px;
}